<mat-sidenav-container class="sidenav-container">
  <mat-sidenav
    #drawer
    class="sidenav"
    fixedInViewport="true"
    [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
    [mode]="(isHandset$ | async) ? 'over' : 'side'"
    [opened]="!(isHandset$ | async)">
    <mat-toolbar color="primary">Menu</mat-toolbar>
    <mat-nav-list>
      <a mat-list-item routerLink="/dashboard" routerLinkActive="active"><mat-icon style="padding-right: .3em">dashboard</mat-icon>Dashboard</a>
      <a mat-list-item routerLink="/reports" routerLinkActive="active"><mat-icon style="padding-right: .3em">insert_chart</mat-icon>Reports</a>
      <a mat-list-item routerLink="/upload" routerLinkActive="active"><mat-icon style="padding-right: .3em">cloud_upload</mat-icon>Upload</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary" style="z-index: 2;">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <img src="../../assets/images/racLogo.png" style="height: 4em; padding-right: .4em; margin-top: 10px">
      <span>Serverless MicroUI - Reference Architecture</span>
    </mat-toolbar>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
